// Dawnbreak
// Scalable and Maintainable Architecture.
//
// Author:   Jack Ryan Oracoy
// Website:  https://jackryanoracoy.github.io
// Email:    jackryanoracoy@gmail.com
// URL:      https://github.com/jackryanoracoy/dawnbreak
// License:  https://github.com/jackryanoracoy/dawnbreak/blob/master/LICENSE.txt

/*--------------------------------------------------
  Typography
--------------------------------------------------*/

.text-center { text-align: center; }
.text-justify { text-align: justify; }
.text-right { text-align: right; }
.text-left { text-align: left; }

.text-overline { text-decoration: overline; }
.text-underline { text-decoration: underline; }
.text-linethrough { text-decoration: line-through; }

.font-normal { font-weight: normal; }
.font-bold { font-weight: bold; }
.font-bolder { font-weight: bolder; }
.font-lighter { font-weight: lighter; }

.font-default { font-size: $font-nm; }
.font-small { font-size: $font-sm; }
.font-medium { font-size: $font-md; }
.font-large { font-size: $font-lg; }
.font-extra-large { font-size: $font-xl; }
.font-super-large { font-size: $font-sl; }
.font-mega-large { font-size: $font-ml; }

.line-height-small { line-height: 1.2; }
.line-height-normal { line-height: 1.5; }
.line-height-large { line-height: 2; }

.white-space-normal { white-space: normal; }
.white-space-nowrap { white-space: nowrap; }

@each $breakpoint in map-keys($breakpoints) {
  @include media-breakpoint-min($breakpoint) {
    .text-center-#{$breakpoint} { text-align: center; }
    .text-justify-#{$breakpoint} { text-align: justify; }
    .text-right-#{$breakpoint} { text-align: right; }
    .text-left-#{$breakpoint} { text-align: left; }

    .text-overline-#{$breakpoint} { text-decoration: overline; }
    .text-underline-#{$breakpoint} { text-decoration: underline; }
    .text-linethrough-#{$breakpoint} { text-decoration: line-through; }

    .font-normal-#{$breakpoint} { font-weight: normal; }
    .font-bold-#{$breakpoint} { font-weight: bold; }
    .font-bolder-#{$breakpoint} { font-weight: bolder; }
    .font-lighter-#{$breakpoint} { font-weight: lighter; }

    .font-default-#{$breakpoint} { font-size: $font-nm; }
    .font-small-#{$breakpoint} { font-size: $font-sm; }
    .font-medium-#{$breakpoint} { font-size: $font-md; }
    .font-large-#{$breakpoint} { font-size: $font-lg; }
    .font-extra-large-#{$breakpoint} { font-size: $font-xl; }
    .font-super-large-#{$breakpoint} { font-size: $font-sl; }
    .font-mega-large-#{$breakpoint} { font-size: $font-ml; }

    .line-height-small-#{$breakpoint} { line-height: 1.2; }
    .line-height-normal-#{$breakpoint} { line-height: 1.5; }
    .line-height-large-#{$breakpoint} { line-height: 2; }

    .white-space-normal-#{$breakpoint} { white-space: normal; }
    .white-space-nowrap-#{$breakpoint} { white-space: nowrap; }
  }
}
