// Dawnbreak
// Scalable and Maintainable Architecture.
//
// Author:   Jack Ryan Oracoy
// Website:  https://jackryanoracoy.github.io
// Email:    jackryanoracoy@gmail.com
// URL:      https://github.com/jackryanoracoy/dawnbreak
// License:  https://github.com/jackryanoracoy/dawnbreak/blob/master/LICENSE.txt

/*--------------------------------------------------
  Site-nav
--------------------------------------------------*/

.site-nav {
  display: flex;
  flex-direction: column;
  list-style: none;

  &-item {
    overflow: hidden;
  }

  &-item a {
    display: block;
    padding: 0 10px;
    color: #FFF;
    font-size: $font-nm;
    line-height: $nav-height;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @include media-breakpoint-min(lg) {
    flex-direction: row;

    &-item a:hover,
    &.active a {
      background-color: $primary;
    }
  }
}
