// Moonshine
// Scalable and Maintainable Architecture.
//
// Author:   Jack Ryan Oracoy
// Website:  https://jackryanoracoy.github.io
// Email:    jackryanoracoy@gmail.com
// URL:      https://github.com/jackryanoracoy/moonshine
// License:  https://github.com/jackryanoracoy/moonshine/blob/master/LICENSE.txt

/*--------------------------------------------------
  Site-atf
--------------------------------------------------*/

.l-site-atf {
  height: 480px;

  @include media-breakpoint-min(lg) {
    height: calc(100vh - #{$header-height + $nav-height});
    max-height: 1000px;
  }
}
