// Dawnbreak
// Scalable and Maintainable Architecture.
//
// Author:   Jack Ryan Oracoy
// Website:  https://jackryanoracoy.github.io
// Email:    jackryanoracoy@gmail.com
// URL:      https://github.com/jackryanoracoy/dawnbreak
// License:  https://github.com/jackryanoracoy/dawnbreak/blob/master/LICENSE.txt

/*--------------------------------------------------
  site aside
--------------------------------------------------*/

.site-aside {
  position: sticky;
  top: 100px;

  @include media-breakpoint-min(lg) {
    max-height: calc(100vh - (#{$header-height} + #{$nav-height}));
    overflow: auto;
  }
}
